@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url("/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto Bold"),
    local("Roboto-Bold"),
    url("/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto Regular"),
    local("Roboto-Regular"),
    url("/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-base: "Roboto", sans-serif;
  --color-primary-light: #94ac1a; /* green light */
  --color-primary: #5b6e0d; /* green */
  --color-primary-dark: #303b04; /* green dark */
}

@layer base {
  html {
    font-family: var(--font-family-base);
    background-color: #fff;
    color: theme("colors.zinc.700");
  }

  html.dark {
    background-color: theme("colors.zinc.700");
    color: theme("colors.zinc.300");
  }

  a {
    color: var(--color-primary);
    text-decoration: none;
  }

  html.dark a {
    color: var(--color-primary-light);
  }

  a:hover {
    color: var(--color-primary-dark);
  }

  html.dark a:hover {
    color: var(--color-primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
}

@utility ui-card {
  @apply hover:text-primary dark:hover:text-primary-light transform rounded-3xl bg-amber-300 transition duration-150 hover:scale-95 hover:shadow-lg dark:bg-gray-900;
}
